
@(form: Form[Application.Login])

<html>
    <head>
        <title>edArea authenticate</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen"
        href="@routes.Assets.at("stylesheets/login.css")">

    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo">edArea</a>
        </header>

        @helper.form(routes.Application.authenticate) {
            <h1>Sign in</h1>

            @if(form.hasGlobalErrors) {
                <p class="error">
                @form.globalError.message
                </p>
            }

            <p>
                <input type="email" name="email" placeholder="Email" value="@form("email").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <button type="submit">Login</button>
            </p>
        }

        <div class="main_block">
            <div class="main_text">
                <h1>Новое слово в обучении</h1>
            </div>
            <div class="button_block">
                <div class="button1">
                    <a href="#">Начать как студент</a>
                </div>
                <div class="button2">
                    <a href="#">Начать как учитель</a>
                </div>
                <div class="button2">
                    <a href="#">Начать как организация</a>
                </div>
            </div>
        </div>

    </body>
</html>